/* Font */

@import url('http://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Russo One", sans-serif;
    background-color: #f1f5f8;
    color: #102a42;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

h2{
    letter-spacing: 0.1rem;
    line-height: 1.25rem;
    margin-bottom: 0.75rem;
    font-family: "Russo One", sans-serif;
    font-size: 2rem;
}

@media screen and (min-width: 800px){
    h2{
        font-size: 2.5rem;
    }
    body {
        font-size: 2.5 rem;
        line-height: 1 rem;
        
    }
}